name: Docker-Ci-PipeLine
on: push
jobs:
  dockerci-job:
    runs-on: ubuntu-24.04
    steps:
      - name: Code Checkout
        uses: actions/checkout@v6
      - name: Build image
        run: sudo docker build -t ${{ vars.DOCKER_USERNAME }}/helloworld-demo-python_suri:v1 .
      - name: Verify Image
        run: sudo docker images

      - name: create container
        run: docker run  --name python-app -itd -p 8080:8080 ${{ vars.DOCKER_USERNAME }}/helloworld-demo-python_suri:v1
      -  name: sleep
         run: sleep 20

      - name: view container
        run: docker ps

      - name: check output
        run: curl -f http://localhost:8080
  
      - continue-on-error: 
      - name: Docker Login
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
 
      - name: push image
        run: docker push ${{ vars.DOCKER_USERNAME }}/helloworld-demo-python_suri:v1
 
      - name: container cleanup
        run: docker rm -f pythonapp
        
  k8scd-job:
    runs-on: ubuntu-latest
    needs: [dockerci-job]
    steps:
      - name: Code Checkout
        uses: actions/checkout@v6

      - name: start minikube
        uses: medyagh/setup-minikube@latest
        
      - name: test-minikube
        run: kubectl get pods -A

      - name: apply yaml-files
        run: |
          kubectl apply -f k8s/.
          kubectl config set-context --current --namespace=surendra-pyhton-app
          kubectl wait --for=condition=ready pod -l app=hello-world
          

      - name: get-status-deployments
        run: |
          kubectl get ns
          kubectl get deploy,service -n surendra-pyhton-app

      - name: Test service URLs
        run: |
          minikube service list
          minikube service my-service --url
          echo -n "------------------opening the service------------------"
          curl $(minikube service my-service --url)
          
          
